<% provide(:title, 'All Records')%>
<h1>All Recordss</h1>
<% if current_user.admin?  %>
  <%= link_to 'New Record', new_patient_path %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>id&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </th>
    <th>last name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </th>
    <th>first name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </th>
    <th>phone&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </th>
    <th>age&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </th>
    <th>updated at&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </th>
    
    <th colspan="3"></th>
  </tr>
 
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.id %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.first_name %></td>
      <td><%= patient.phone %></td>
      <td><%= patient.age %></td>  
      <td><%= time_ago_in_words(patient.updated_at) %></td>

      <% if current_user.admin?  %>
          <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
          <td><%= link_to "delete", patient, method: :delete, data: { confirm: "You sure?" } %></td>
      <% end %>   

    </tr>
  <% end %>
</table>
